<component name="ArtifactManager">
  <artifact type="war" name="spring_8AOPAspects:war">
    <output-path>$PROJECT_DIR$/../spring_8AOPAspects/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_8AOPAspects</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_8AOPAspects-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_8AOPAspects:war exploded" />
    </root>
  </artifact>
</component>